<div class="container-fluid">
    <h1>Bon De Commande</h1>
    <div class="shadow card text-white bg-dark mb-3">
        <div class="card-body">
            <button style="float: right;" (click)="onAchatSave()" type="button" class="btn btn-primary">Commande Confirmer</button>
            <button style="float: left;" [hidden]="achat.statut===statuts[0]" type="button" class="btn btn-primary fa fa-file-pdf-o mr-2"></button>
            <button style="float: left;" [hidden]="achat.statut===statuts[0]" type="button" class="btn btn-primary fa fa-download mr-2"></button>
            <button style="float: left;" [hidden]="achat.statut===statuts[0]" type="button" class="btn btn-primary fa fa-envelope"></button>
        </div>
    </div>
    <!--Info-->
    <div class="row mt-3 mb-2">
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">
                <div class="card-header">
                    Ajouter Les Information Du Demmande
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="ref">Réfernece</label>
                        <input [disabled]="isNew==0" class="form-control" type="text" id="ref" [(ngModel)]=achat.ref>
                    </div>
                    <div class="form-group">
                        <label for="pay">Mode De Paiement</label>
                        <select class="form-control" id="pay" [(ngModel)]=achat.modePaiment>
                            <option>Chéque</option>
                            <option>Virement</option>
                            <option>Paypal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date-input">Date De Livraison</label>
                        <input [(ngModel)]=achat.dateLivraison class="form-control" type="date" id="date-input">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">
                <div class="card-header">
                    Chooisir un Fournisseur
                </div>
                <div class="card-body">
                    <label for="fournisseur">Fournisseur</label>
                    <select (change)="getfournByNom()" class="form-control" id="fournisseur" [(ngModel)]=achat.fournisseur.nom>
                        <option *ngFor="let fr of fournisseurs" value="{{fr.nom}}">
                            {{fr.nom}}
                        </option>
                    </select><br>
                    <h3>{{achat.fournisseur.nom}}</h3>
                    <p>{{achat.fournisseur.email}}</p>
                    <p>{{achat.fournisseur.tel}}</p>
                    <p>{{achat.fournisseur.adress}}</p>
                </div>
            </div>

        </div>
    </div>
    <!--Info-->

    <!--List-->
    <div class="row mb-2">
        <div class="col-md-12">
            <app-commande-bon-items [items]="achatItems"></app-commande-bon-items>
        </div>

    </div>
    <!--List-->
</div>