<!--Bon De Commande Final-->
<div class="container-fluid">

    <div class="row mb-2">
        <div class="col-md-12 text-center">
            <button style="float: left;" (click)="backToDemande()" type="button" class="btn btn-danger mr-3"> Back To Demande</button>
            <h3 style="display: inline-block; ">Bon De Commande <i><u>{{achat.ref}}</u></i></h3>
            <button style="float: right;" (click)="updateAchat()" type="button" class="btn btn-success ">Save Changes</button>
        </div>
    </div>

    <div class="shadow card text-white bg-dark mb-3">
        <div class="card-body">
            <h3 style="float: right;">Total: {{achat.total}} DH</h3>
            <button style="float: left;" type="button" class="btn btn-primary fa fa-file-pdf-o mr-2" (click)="openPDF()"></button>
            <button style="float: left;" type="button" class="btn btn-primary fa fa-download mr-2" (click)="downloadPDF()"></button>
            <button type="button" class="btn btn-primary fa fa-envelope ml-1"></button>
        </div>
    </div>


    <!--Info-->
    <div class="row mt-3 mb-2">
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">
                <div class="card-header">
                    Ajouter Les Informations Du Demande
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="ref">Référenece</label>
                        <input class="form-control" type="text" id="ref" [(ngModel)]=achat.ref>
                    </div>
                    <div class="form-group">
                        <label for="pay">Mode De Paiement</label>
                        <select class="form-control" id="pay" [(ngModel)]=achat.modePaiment>
                            <option>Chéque</option>
                            <option>Virement</option>
                            <option>Paypal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date-input">Date De Livraison</label>
                        <input [(ngModel)]=achat.dateLivraison class="form-control" type="date" id="date-input">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">
                <div class="card-header">
                    Choisir un Fournisseur
                </div>
                <div class="card-body">
                    <label for="fournisseur">Fournisseur</label>
                    <select (change)="getFournByNom()" class="form-control" id="fournisseur" [(ngModel)]=achat.fournisseur.nom>
                        <option *ngFor="let fr of fournisseurs" value="{{fr.nom}}">
                            {{fr.nom}}
                        </option>
                    </select><br>
                    <h3>{{achat.fournisseur.nom}}</h3>
                    <p>{{achat.fournisseur.email}}</p>
                    <p>{{achat.fournisseur.tel}}</p>
                    <p>{{achat.fournisseur.adress}}</p>
                </div>
            </div>

        </div>
    </div>
    <!--Info-->

    <!--List-->
    <div class="row mb-2">
        <div class="col-md-12">
            <app-commande-bon-items [items]="achatItemsDB"></app-commande-bon-items>
        </div>

    </div>