<div class="card shadow mt-3 mb-3">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control"  placeholder="enter la date " [(ngModel)]=date>
            <button id="btn1" class="btn btn-block  fa fa-calendar" (click)="getEbBySaveDate()"></button>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control"  placeholder="enter le libelle" [(ngModel)]=libelle>
            <button id="btn1" class="btn btn-block fa fa-archive" (click)="getEbByEntite()" ></button>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control"  placeholder="enter le cin du chef" [(ngModel)]=cin>
            <button id="btn1" class="btn btn-block  fa fa-address-book" (click)="getEbByPersonnel()" ></button>
          </div>
        </div>
      </div>
    <div class="card-header">
        Tout les Expressions Des Besoin 
    </div>
    <div class="card-body table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created At</th>
                    <th>Last Update</th>
                    <th>Statu</th>
                    <th>Departement</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="ebList.length==0">
                    <td class="alert alert-secondary" colspan="6" role="alert">
                        No data to display.
                    </td>
                </tr>
                <tr *ngFor="let eb of ebList">
                    <td>{{eb.title}}</td>
                    <td>{{eb.saveDate}}</td>
                    <td>{{eb.lastUpDate}}</td>
                    <td><app-statut [statut]="eb.statut"></app-statut></td>
                    <td>{{eb.dept.libelle}}</td>
                    <td>
                        <button class="btn btn-danger fa fa-trash mr-2" (click)="onEbDelete(eb)"></button>
                        <button class="btn btn-primary fa fa-eye mr-2" (click)="onEbShow(eb)" ></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted" style="background-color: darkgray;">
        <app-ebp-list></app-ebp-list>
        <button style="float: right;" type="button" class="btn btn-outline-light" (click)="onEbpUpdate()">Save</button>
    </div>
</div>




