<div class="card shadow bg-dark text-white">
    <div class="card-header">
        Ajouter Un Produit
        <button data-toggle="modal" data-target="#modal-produit" type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Product</button>
    </div>
    <div class="card-body">

        <div class="form-group">
            <label for="cat">Catégorie</label>
            <select class="form-control" id="cat" [(ngModel)]="catLib" (change)="getProductBycat()">
                    <option *ngFor="let cat of cats" value="{{cat.libelle}}">
                        {{cat.libelle}}
                    </option>
                </select>
        </div>

        <!-- form-group// -->

        <div class="form-group">
            <label for="cat">Produits</label>
            <select class="form-control" id="cat" [(ngModel)]="ebp.produit.libelle">
                    <option *ngFor="let produit of products" value="{{produit.libelle}}">
                        {{produit.libelle}}
                    </option>
                </select>
        </div>

        <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
            </div>
            <input min="0" [(ngModel)]=ebp.qteDemande name="" class="form-control" placeholder="Quantiter Demander" type="number">
        </div>
        <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-commenting" aria-hidden="true"></i> </span>
            </div>
            <textarea [(ngModel)]=ebp.product_desc name="" class="form-control" placeholder="Descreption" type="text"></textarea>
        </div>
        <!-- form-group// -->
    </div>
    <div class="card-footer text-muted">
        <button [disabled]="!ebpValidation(ebp.produit.libelle,ebp.qteDemande)" (click)="onProductAdd()" style="float: right;" type="button" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="modal-produit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle Produit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-product-create></app-product-create>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>