<div class="card shadow bg-dark text-white">
    <div class="card-header">
        Ajouter Un Besoin
        <button data-toggle="modal" data-target="#modal-produit" type="button" class="btn btn-primary float-right"><i
                class="fa fa-plus-circle" aria-hidden="true"></i> Add New Product</button>
    </div>
    <div class="card-body">

        <div class="form-group">
            <label for="cat">Catégorie</label>
            <select class="form-control" id="cat" [(ngModel)]="catLib" (change)="getProductBycat()">
                <option *ngFor="let cat of cats" value="{{cat.libelle}}">
                    {{cat.libelle}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="cat">Produit</label>
            <select class="form-control" id="cat" [(ngModel)]="ebp.produit.libelle">
                <option *ngFor="let produit of products" value="{{produit.libelle}}">
                    {{produit.libelle}}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label>Quantité</label>
            <input min="1" [(ngModel)]=ebp.qteDemande class="form-control" placeholder="Quantiter Demandé" type="number">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea [(ngModel)]=ebp.product_desc name="" class="form-control" placeholder="Description" type="text"></textarea>
        </div>
    </div>

    <div class="card-footer text-muted">
        <button [disabled]="!ebpValidation(ebp.produit.libelle,ebp.qteDemande)" (click)="onProductAdd()" style="float: right;" type="button" class="btn btn-outline-primary"><i class="fa fa-plus"
                aria-hidden="true"></i></button>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="modal-produit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau Produit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-product-create></app-product-create>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>