<div class="row">
    <div class="col-md-5">
        <div class="card shadow bg-dark text-white">
            <div class="card-header">
                Votre Expression Des Besoin
                <button style="float: right;" (click)="onShowPersonnelEb()" type="button" class="btn btn-outline-primary"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
            <div class="card-body">
                <table class="table table-dark table-respnsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Title</th>
                            <th>Département</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="ebList.length==0">
                            <td class="alert alert-secondary" colspan="4" role="alert">
                                No data to display.
                            </td>
                        </tr>
                        <tr *ngFor="let eb of ebList">
                            <td>{{eb.title}}</td>
                            <td>{{eb.dept.libelle}}</td>
                            <td>
                                <button class="btn btn-danger fa fa-trash mr-2" (click)="onEbDelete(eb)"></button>
                                <button class="btn btn-primary fa fa-eye mr-2" (click)="onEbShow(eb)"></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">

        <div class="card shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="table table-dark table-respnsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Produit</th>
                            <th>Q-Demander</th>
                            <th>Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="ebpList.length==0">
                            <td class="alert alert-secondary" colspan="4" role="alert">
                                No data to display.
                            </td>
                        </tr>
                        <tr *ngFor="let ebp of ebpList">
                            <td>{{ebp.produit.libelle}}</td>
                            <td><input [min]=1 type="number" [(ngModel)]=ebp.qteDemande class="form-control"></td>
                            <td>{{ebp.product_desc}}</td>
                            <td>
                                <button class="btn btn-danger fa fa-trash mr-2" (click)="onEbpDelete(ebp)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEbpUpdate()">Save
                changes</button>
            </div>
        </div>


    </div>
</div>