<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">

        </div>
        <hr style="color: white;">
        <div class="list-group list-group-flush" id="accordion">

            <!--Expression-->

            <a style="color: white;" class="list-group-item list-group-item-action bg-info collapsed" data-toggle="collapse" href="#collapseeb">
                Expression <i style="float: right; bottom: 0;" class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <div id="collapseeb" class="collapse bg-dark" data-parent="#accordion">
                <a style="color: white; " [routerLink]="['ebs']" class="bg-dark list-group-item list-group-item-action"><i class="fa fa-list" aria-hidden="true"></i>
                    List Des Expression</a>
            </div>


            <!--Achat-->


            <a style="color: white;" class="list-group-item list-group-item-action bg-info collapsed" data-toggle="collapse" href="#collapseachat">
                Achat <i style="float: right; bottom: 0;" class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <div id="collapseachat" class="collapse bg-dark" data-parent="#accordion">

                <a style="color: white;" href="comptable/achats" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-list" aria-hidden="true"></i> List Des Achats</a>
                <a style="color: white;" href="comptable/dp" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-plus" aria-hidden="true"></i> Crée Une Demmande de Prix</a>
                <a style="color: white;" href="comptable/bc" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-plus" aria-hidden="true"></i> Crée Bon De Commande</a>
            </div>



            <!--Fournisseur-->
            <a style="color: white;" class="list-group-item list-group-item-action bg-info collapsed" data-toggle="collapse" href="#collapsefourni">
                Fournisseur <i style="float: right; bottom: 0;" class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <div id="collapsefourni" class="collapse bg-dark" data-parent="#accordion">

                <a style="color: white;" [routerLink]="['fournisseur']" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Ajouter un Fournisseur</a>

                <a style="color: white;" [routerLink]="['fournisseurs']" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-list" aria-hidden="true"></i> List Des Fournisseur</a>
            </div>

            <!--Produits-->

            <a style="color: white;" class="list-group-item list-group-item-action bg-info collapsed" data-toggle="collapse" href="#collapseprod">
                Produits <i style="float: right; bottom: 0;" class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <div id="collapseprod" class="collapse bg-dark" data-parent="#accordion">

                <a style="color: white;" style="color: white; " class="bg-dark list-group-item list-group-item-action" [routerLink]="['produit']">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter un Produit</a>
                <a style="color: white;" [routerLink]="['produits']" class="bg-dark list-group-item list-group-item-action">
                    <i class="fa fa-list" aria-hidden="true"></i> List Des Produit</a>
            </div>
            <!--Stock-->
            <a style="color: white;" class="list-group-item list-group-item-action bg-info collapsed" data-toggle="collapse" href="#collapsestock">
                Stocks <i style="float: right; bottom: 0;" class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <div id="collapsestock" class="collapse bg-dark" data-parent="#accordion">

                <a style="color: white;" style="color: white; " class="bg-dark list-group-item list-group-item-action" [routerLink]="['stock']">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter un Stock</a>
                <a style="color: white;" style="color: white; " class="bg-dark list-group-item list-group-item-action" [routerLink]="['stockItem']">
                    <i class="fa fa-list" aria-hidden="true"></i>Product of Stock</a>
                <a style="color: white;" style="color: white; " class="bg-dark list-group-item list-group-item-action" [routerLink]="['stocks']">
                    <i class="fa fa-list" aria-hidden="true"></i>List des Stocks</a>
            </div>

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom mb-3 sticky-top">
            <button class="btn btn-primary  mr-2" id="menu-toggle"><i class="fa fa-bars"
                    aria-hidden="true"></i></button>
            <span>
                <h2 style="color: white;">Comptable</h2>
            </span>

        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->