<table class="table table-bordered table-hover">
    <thead >
        <tr>
            <th>Produit</th> 
            <th>Desc</th>
            <th>Q-Demander</th>
            <th>Q-Accorder</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="ebpList.length==0">
                <td class="alert alert-secondary" colspan="5" role="alert">
                    No data to display.
                </td>
            </tr>
            <tr *ngFor="let ebp of ebpList">
                <td>{{ebp.produit}}</td>
                <td>{{ebp.product_desc}}</td>
                <td><input type="number" [(ngModel)]=ebp.qteDemande class="form-control"></td>
                <td><input type="number" [(ngModel)]=ebp.qteAccorde class="form-control"></td>
                <td> <button class="btn btn-danger fa fa-trash" (click)="deleteProduct(ebp)" type="button"></button></td>   
            </tr>
        </tbody>
</table>
