<div class="container-fluid">
    <div class="form-inline form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Reference</span>
         </div>
        <input [(ngModel)]=demmande.ref name="" class="form-control mr-sm-2" placeholder="Reference Du Demmande" type="text">
            <div class="form-group">
                <label for="personnel">Fournisseur</label>
                <select class="form-control" id="fournisseur" [(ngModel)]="cin" (change)="getfournByNom()">
                    <option *ngFor="let fr of fournList" value="{{fr.cin}}">
                        {{fr.nom}}
                    </option>
                </select>
            </div>
        <button (click)="saveDemmande(demmande)" type="submit" class="btn btn-primary ">Submit</button>
    </div> 
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="row">
                <div class="col-md-5">
                    <div class="card shadow">
                        <div class="card-header">
                            Votre Expression Des Besoins
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-respnsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Title</th>
                                        <th>Département</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="ebList.length==0">
                                        <td class="alert alert-secondary" colspan="4" role="alert">
                                            No data to display.
                                        </td>
                                    </tr>
                                    <tr *ngFor="let eb of ebList">
                                        <td>{{eb.title}}</td>
                                        <td>{{eb.dept.libelle}}</td>
                                        <td>
                                            <button class="btn btn-primary fa fa-eye mr-2" (click)="onEbShow(eb)"></button>
            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
            
                    <div class="card shadow">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <table class="table table-dark table-respnsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Catégorie</th>
                                        <th>Produit</th>
                                        <th>Q-Accorder</th>
                                        <th>Desc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="ebpList.length==0">
                                        <td class="alert alert-secondary" colspan="4" role="alert">
                                            No data to display.
                                        </td>
                                    </tr>
                                    <tr *ngFor="let ebp of ebpList">
                                        <td>{{ebp.produit.cat.libelle}}</td>
                                        <td>{{ebp.produit.libelle}}</td>
                                        <td>{{ebp.qteAccorde}}</td>
                                        <td>{{ebp.product_desc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                         <div class="modal-footer">
                    </div>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow">
    <div class="card-header">
        Ajouter Un Produit
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="form-group">
                <label for="cat">Catégorie</label>
                <select class="form-control" id="cat" [(ngModel)]="catLib" (change)="getProductBycat()">
                    <option *ngFor="let cat of cats" value="{{cat.libelle}}">
                        {{cat.libelle}}
                    </option>
                </select>
            </div>
        </div> <!-- form-group// -->

        <div class="form-group">
            <div class="form-group">
                <label for="cat">Produits</label>
                <select class="form-control" id="cat" [(ngModel)]="dmI.produit.libelle" >
                    <option *ngFor="let produit of catProduitsList" value="{{produit.libelle}}">
                        {{produit.libelle}}
                    </option>
                </select>
            </div>
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
            </div>
            <input min="0" [(ngModel)]=dmI.qteCommander name="" class="form-control" placeholder="Quantiter a Commander"
                type="number">
        </div> <!-- form-group// -->
    </div>
    <div class="card-footer text-muted">
        <button  (click)="addProduit()" style="float: right;" type="button"
            class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

</div>
<div class="shadow card">
    <div class="card-header">
        Produit
    </div>
    <div class="card-body table-wrap">
        <table class="table table-dark">
            <thead class="thead-inverse">
                <tr>
                    <th>Produit</th>
                    <th>Quantite_Commander</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="demItems.length==0">
                    <td colspan="4" role="alert">
                        No data to display.
                    </td>
                </tr>
                <tr *ngFor="let demI of demItems">
                    <td>{{demI.produit.libelle}}</td>
                    <td>{{demI.qteCommander}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>