<!--Achat Statuts-->
<div class="card mb-3 mr-3 ml-3 shadow">
    <div class="card-body">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a [ngClass]="[achat.statut === statuts[1] ? 'active':'']" class="nav-link">
                    <h4>Demmande De Prix</h4>
                </a>
            </li>
            <button disabled type="button" class="btn btn-secondary fa fa-arrow-right dark mr-2 ml-2"></button>
            <li class="nav-item">
                <a [ngClass]="[achat.statut === statuts[2] ? 'active':'']" class="nav-link">
                    <h4>Devis Recu</h4>
                </a>
            </li>
            <button disabled type="button" class="btn btn-secondary fa fa-arrow-right dark mr-2 ml-2"></button>
            <li class="nav-item">
                <a [ngClass]="[achat.statut === statuts[3] ? 'active':'']" class="nav-link">
                    <h4>Bon De Commande</h4>
                </a>
            </li>
        </ul>
    </div>

</div>

<!--Demmande De Prix Bruillon-->
<app-demande-prix [hidden]="achat.statut===statuts[3]||achat.statut===statuts[2]"></app-demande-prix>
<!--Demmande De Prix-->
<!--Bon De Commande Aprés Un Devis-->
<app-commande-bon [isNew]="0" [hidden]="achat.statut!==statuts[2] || edit==0"></app-commande-bon>
<!--Bon De Commande Final-->
<app-commande-bon-final [hidden]="achat.statut!==statuts[3] || edit==1"></app-commande-bon-final>