
<div class="container-fluid">
    <div class="shadow card text-white bg-dark mb-3">
        <div class="card-body">
            <h4 style="display: inline;">Crée Un Stock</h4>
            <button style="float: right;" (click)=" onSaveStock()" type="button" class="btn btn-success">Save</button>
        </div>
    </div>
    <!--Info-->
            <div class="shadow card text-white bg-dark" style="height: 22rem">
                <div class="card-body">

                    <div class="form-group">
                        <label for="date-input">Réfernece</label>
                        <input type="text" placeholder="entrer la ref du stock" class="form-control" [(ngModel)]=stock.ref>
                    </div>
                    <button (click)="generatePdf()" class="btn btn-primary mt-2">Open PDF</button>
                </div>
                
            </div>
    <!--Info-->

    <!--List-->
    <div class="row mb-2">
        <div class="col-md-12">
            <app-stock-item></app-stock-item>
        </div>
    </div>
    <!--List-->


</div>


 
