<div class="container-fluid">

    <!--Info-->
    <div class="shadow card text-white bg-dark mb-2">

        <div class="card-header">
            Crée Un Stock
            <button style="float: right;" (click)="generatePdf()" class="btn btn-primary mt-2">Open PDF</button>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label for="date-input">Réfernece</label>
                <input type="text" placeholder="entrer la ref du stock" class="form-control" [(ngModel)]=stock.ref>
            </div>
        </div>
    </div>
    <!--Info-->

    <!--List-->
    <div class="row mb-2">
        <div class="col-md-12">
            <app-stock-item></app-stock-item>
        </div>
    </div>
    <button style="float: right;" (click)=" onSaveStock()" type="button" class="btn btn-success">Save</button>

    <!--List-->


</div>