<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-12">
            <h3 style="display: inline;">Facture Fournisseur <b>{{facture.ref}} </b>
                <span class="badge badge-warning ml-2">{{facture.etat}} </span>
            </h3>
            <button (click)="onFactureSave()" style="float: right;" type="button" class="btn btn-success">Save
                Changes</button>
        </div>
    </div>
    <div class="shadow card text-white bg-dark mb-3">
        <div class="card-body">
            <button style="float: left;" type="button" class="btn btn-primary fa fa-file-pdf-o mr-2"></button>
            <button style="float: left;" type="button" class="btn btn-primary fa fa-download mr-2"></button>
            <button style="float: left;" type="button" class="btn btn-primary fa fa-envelope"></button>
        </div>
    </div>
    <!--Info-->
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row">

                <div class="col-md-12 mb-2">
                    <div>
                        <h2>Fournisseur:</h2>
                    </div>
                    <div class="shadow card text-white bg-dark ">

                        <div class="card-body ">
                            <h3>{{achat.fournisseur.nom}}</h3>
                            <h5><i class="fa fa-telegram mr-2" aria-hidden="true"></i><b>Email:
                                </b>{{achat.fournisseur.email}}</h5>
                            <h5><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><b>Tel:
                                </b>{{achat.fournisseur.tel}}</h5>
                            <h5><i class="fa fa-address-card mr-2" aria-hidden="true"></i><b>Address:
                                </b>{{achat.fournisseur.adress}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="card bg-dark text-white">
                        <div class="card-body ">
                            <div class="form-group">
                                <label for="d">Date De Facturartion</label>
                                <input id=d type="date" [(ngModel)]=facture.dateDeFac class="form-control" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div>
                        <h2>Achat:</h2>
                    </div>
                    <div class="shadow card text-white bg-dark ">
                        <div class="card-body ">
                            <h5><b>N°: </b>{{achat.ref}}</h5>
                            <h5><b>Date Du Commande: </b>{{achat.dateCommande}}</h5>
                            <h5><b>Date Du Livraison: </b>{{achat.dateLivraison}}</h5>
                            <h5><b>By: </b>{{achat.comptable.name}}</h5>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-success text-white">
                                <div class="card-body ">
                                    <h3>Total Paier {{achat.totalPaier}} DH</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-danger text-white">
                                <div class="card-body ">
                                    <h3>Total Rester {{achat.totalRester}} DH</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--Info-->

    <!--List-->
    <div class="row mb-2 ">
        <div class="col-md-12 ">
            <app-facture-items [items]="items "></app-facture-items>
        </div>
    </div>

    <div class="card bg-info text-white mb-3" style="float: right;">
        <div class="card-body ">
            <h3>Total: {{achat.total}} DH</h3>
        </div>
    </div>
    <!--List-->


</div>