<div class="container-fluid">
    <div class="form-inline form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Titre</span>
         </div>
        <input [(ngModel)]=eb.title name="" class="form-control mr-sm-2" placeholder="Titre Du Demande" type="text">
        <div class="input-group-prepend">
            <span class="input-group-text">Descreption</span>
         </div>
        <input [(ngModel)]=eb.eb_desc name="" class="form-control  mr-sm-2" placeholder="Ajouter Une Descreption" type="text">
        <button (click)="onSaveEb()" [disabled]="!ebValidation()" type="submit" class="btn btn-primary ">Submit</button>
    </div> 
    <div class="row">
        <div class="col-md-3">
            <app-ebp-form></app-ebp-form>
        </div>
        <div class="col-md-6">
            <app-ebp-list-current></app-ebp-list-current>
        </div>
        <div class="col-md-3">
            <app-eb-list-current></app-eb-list-current>
        </div>
    </div>
</div>
