<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-12">
            <h3 style="display: inline;">Demande De Prix <b>{{achat.ref}}</b></h3>
            <button (click)="onDemandeUpdate()" style="float: right;" type="button" class="btn btn-success">Save Changes</button>
        </div>
    </div>
    <div class="shadow card text-white bg-dark mb-3">
        <div class="card-body">
            <button (click)="onDemandeToCommande()" style="float: right;" type="button" class="btn btn-info">Créer Un Bon De Commande</button>

            <button style="float: left;" type="button" class="btn btn-primary fa fa-file-pdf-o mr-2" (click)="openPDF()"></button>
            <button style="float: left;" type="button" class="btn btn-primary fa fa-download mr-2" (click)="downloadPDF()"></button>
            <button data-toggle="modal" data-target="#modal-mail" style="float: left;" type="button" class="btn btn-primary fa fa-envelope"></button>

        </div>
    </div>
    <!--Info-->
    <div class="row mt-3 mb-2">
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">

                <div class="card-body">

                    <div class="form-group">
                        <label for="date-input">Référence</label>
                        <input class="form-control" type="text" id="date-input" [(ngModel)]=achat.ref>
                    </div>
                    <div class="form-group">
                        <label for="pay">Mode De Paiement</label>
                        <select class="form-control" id="pay" [(ngModel)]=achat.modePaiment>
                            <option>Chéque</option>
                            <option>Virement</option>
                            <option>Paypal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date-input">Date De Livraison</label>
                        <input [(ngModel)]=achat.dateLivraison class="form-control" type="date" id="date-input">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow card text-white bg-dark" style="height: 22rem">

                <div class="card-body">
                    <label for="fournisseur">Fournisseur</label>
                    <button style="float: right;" class="btn btn-primary fa fa-plus mb-2" data-toggle="modal" data-target="#modal-fourni"></button>
                    <select (change)="getFournByNom()" class="form-control" id="fournisseur" [(ngModel)]=fourn.nom>
                        <option *ngFor="let fr of fournisseurs" value="{{fr.nom}}">
                            {{fr.nom}}
                        </option>
                    </select><br>
                    <h3>{{achat.fournisseur.nom}}</h3>
                    <h5><i class="fa fa-telegram mr-2" aria-hidden="true"></i><b>Email:
                        </b>{{achat.fournisseur.email}}</h5>
                    <h5><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><b>Tél:
                        </b>{{achat.fournisseur.tel}}</h5>
                    <h5><i class="fa fa-address-card mr-2" aria-hidden="true"></i><b>Adresse:
                        </b>{{achat.fournisseur.adress}}</h5>
                </div>
            </div>

        </div>
    </div>
    <!--Info-->

    <!--List-->
    <div class="row mb-2">
        <div class="col-md-12">
            <app-demande-prix-items [items]="achatItemsDB"></app-demande-prix-items>
        </div>
    </div>
    <!--List-->


</div>

<!--Ajouter Un Nouvelle Fournisseur-->
<div class="modal fade bd-example-modal-lg" id="modal-fourni" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau Fournisseur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-fournisseur-create></app-fournisseur-create>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modal-mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-email-form [fournis_email]="achat.fournisseur.email"></app-email-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>