<h4 style="display: inline;">Liste Des Tous Les Expressions Des Besoins</h4>
<button (click)="onNewEbClick()" style="float: right;" type="button" class="btn btn-success">Créer Un Nouveau
    Expression de besoin</button>



<div class="card text-white bg-dark shadow mt-3 mb-3">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">Filter By Date</label>
                        <input id="date" type="date" class="form-control" (change)="onFilterAction()" [(ngModel)]=date>
                    </div>
                </div>

                


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sort">Sort By <i class="fa fa-sort mr-1" (click)="onSortAction()"
                                aria-hidden="true"></i></label>

                        <select class="form-control" id="sort" [(ngModel)]=sortBy (change)="onSortAction()">
                            <option selected></option>
                            <option value="1">Titre</option>
                            <option value="0">Date</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Search</label>
                        <div class="input-group mb-3">
                            <input placeholder="search by eb title..." id="key" type="text" class="form-control" [(ngModel)]=title (keyup)="onFilterAction()">
                            <div class="input-group-append">
                                <span class="input-group-text fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">

        <table class="table bg-light table-bordered">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de création</th>
                    <th>Departement</th>
                    <th class="w-25">Déscription</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="ebList.length==0">
                    <td class="alert alert-secondary" colspan="6" role="alert">
                        No data to display.
                    </td>
                </tr>
                <tr *ngFor="let eb of ebListFiltered">
                    <td>{{eb.title}}</td>
                    <td>{{eb.saveDate}}</td>
                    <td>{{eb.dept.libelle}}</td>
                    <td>{{eb.eb_desc}}</td>
                    <td>
                        <button class="btn btn-danger fa fa-trash mr-2" (click)="onEbDelete(eb)"></button>
                        <button data-toggle="modal" data-target="#ebps" class="btn btn-primary fa fa-eye mr-2" (click)="onEbShow(eb)"></button>
                        <button (click)="setEbPdate(eb)" data-toggle="modal" data-target="#eb" class="btn btn-success fa fa-pencil"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>


<!--Ebp List-->
<div class="modal fade bd-example-modal-lg" id="ebps" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Produits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive">
                <table class="table text-white table-bordered bg-dark">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Q-Demander</th>
                            <th>Q-Accorder</th>
                            <th>Q-Commander</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="ebpList.length==0">
                            <td class="alert alert-secondary" colspan="5" role="alert">
                                No data to display.
                            </td>
                        </tr>
                        <tr *ngFor="let ebp of ebpList">
                            <td>{{ebp.produit.libelle}}</td>
                            <td>{{ebp.product_desc}}</td>
                            <td>{{ebp.besoin_statut}}</td>
                            <td>{{ebp.qteDemande}}</td>

                            <td>{{ebp.qteAccorde}}</td>
                            <td>{{ebp.qteAchete}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEbpUpdate()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="eb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ebUpdate.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-eb-edit></app-eb-edit>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>