<h2>Votre Achats</h2>
<div class="card text-white bg-dark shadow mt-3 mb-3">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dept">Search By Ref</label>
                        <input placeholder="eb title..." id="key" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="personnel">Statut</label>
                        <select class="form-control" id="personnel" (change)="onFilterAction()">
                            <option selected></option>
                            <option *ngFor="" value="">

                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dept">Fournisseur</label>
                        <select class="form-control" id="dept" (change)="onFilterAction()">
                            <option selected></option>
                            <option *ngFor="" value="">

                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-light table-hover table-bordered">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Statut</th>
                    <th>Fournisseur</th>
                    <th>Creation en</th>
                    <th>Livraison en</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="achats.length==0">
                    <td class="alert alert-secondary" colspan="6" role="alert">
                        No data to display.
                    </td>
                </tr>
                <tr *ngFor="let achat of achats">
                    <td>{{achat.ref}}</td>
                    <td>{{achat.statut}}</td>
                    <td>{{achat.fournisseur.nom}}</td>
                    <td>{{achat.dateCommande}}</td>
                    <td>{{achat.dateLivraison}}</td>
                    <td>
                        <button (click)="onAchatDelete(achat)" class="btn btn-danger fa fa-trash mr-2"></button>
                        <button class="btn btn-primary fa fa-eye mr-2" (click)="onAchatShow(achat)"></button>
                    </td>
            </tbody>
        </table>
    </div>
</div>