<h2>List De Tout Les Expression Des Besoin</h2>
<div class="card text-white bg-dark shadow mt-3 mb-3">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dept">Search By Ref</label>
                        <input placeholder="eb title..." id="key" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="personnel">Statut</label>
                        <select class="form-control" id="personnel" (change)="onFilterAction()">
                            <option selected></option>
                            <option *ngFor="" value="">

                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dept">Fournisseur</label>
                        <select class="form-control" id="dept" (change)="onFilterAction()">
                            <option selected></option>
                            <option *ngFor="" value="">

                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-light table-hover table-bordered">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Statut</th>
                    <th>Fournisseur</th>
                    <th>Creation en</th>
                    <th>Livraison en</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="achats.length==0">
                    <td class="alert alert-secondary" colspan="6" role="alert">
                        No data to display.
                    </td>
                </tr>
                <tr *ngFor="let achat of achats">
                    <td>{{achat.ref}}</td>
                    <td>{{achat.statut}}</td>
                    <td>{{achat.fournisseur.nom}}</td>
                    <td>{{achat.dateCommande}}</td>
                    <td>{{achat.dateLivraison}}</td>
                    <td>
                        <button (click)="onAchatDelete(achat)" class="btn btn-danger fa fa-trash mr-2"></button>
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-primary fa fa-eye mr-2" (click)="oAchatShow(achat)"></button>
                    </td>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Produits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-light table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Category</th>
                            <th>Quantiter</th>
                            <th>Unite</th>
                            <th>Prix Unite</th>
                            <th>Prix Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="items.length==0">
                            <td class="alert alert-secondary" colspan="5" role="alert">
                                No data to display.
                            </td>
                        </tr>
                        <tr *ngFor="let item of items">
                            <td>{{item.produit.libelle}}</td>
                            <td>{{item.produit.cat.libelle}}</td>
                            <td>{{item.qteCommander}}</td>
                            <td>{{item.produit.unite.libelle}}</td>
                            <td>{{item.produit.prix}}</td>
                            <td>{{item.totalPrice}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onitemUpdate()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>